# IntelliJ
.idea/
*.iml

# Backend (Spring Boot)
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Node (futuro frontend)
node_modules/
dist/

# Env
.env

# OS
.DS_Store
Thumbs.db